{
  "openapi": "3.0.1",
  "info": {
    "title": "Miona API",
    "description": "An API that returns profile images with given tags",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://images.miona.bot"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "Image": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the image",
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "description": "URL of the image",
            "type": "string",
            "format": "uri"
          },
          "type": {
            "description": "Type of the image",
            "type": "string"
          }
        }
      },
      "ImageArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Image"
        }
      },
      "Error": {
        "required": ["error"],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/counts": {
      "get": {
        "description": "Returns all of the image types along with the number of images in each type",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of objects containing the type and the number of images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageCount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image/{id}": {
      "get": {
        "description": "Returns the raw pfp file with the given ID",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the image to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw image file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/random/{type}": {
      "get": {
        "description": "Returns a random pfp of a given type",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Type of image to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "malephoto", "femalephoto", "malegif", "banner", "faceless",
                "femalegif", "cars", "nike", "nsfw", "aesthetic", "cartoon",
                "jewellry", "shoes", "guns", "drill", "money", "smoking",
                "animals", "soft", "hellokitty", "besties", "body", "food",
                "random", "anime", "military"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Random image of the specified type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Image"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image type not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/match/{type}": {
      "get": {
        "description": "Returns an array with two matching pictures of a given type",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Type of matching images to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["matchphoto", "matchgif", "matchbanner"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of two matching images of the specified type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageArray"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image type not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
